.rct-font-size {
  font-size: 14px;
}

.rct-radius {
  border-radius: 4px;
}

.rct-flex {
  display: flex;
}

.rct-flex-1 {
  flex: 1;
}

.rct-justify-center {
  justify-content: center;
}

.rct-space-between {
  justify-content: space-between;
}

.rct-align-center {
  align-items: center;
}

.rct-title {
  height: 30px;
  padding-top: 5px;
  padding-left: 10px;
}

.rct-pointer {
  cursor: pointer;
}